# <div align="center" style="color: #ff5733;"> Promoter Master Table Creation </div>

In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
# Example: pd.set_option('display.max_columns', None)

C:\Users\DwaipayanChakroborti\AppData\Roaming\Python\Python310\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv(r"C:\Users\DwaipayanChakroborti\OneDrive - Tonik Financial Pte Ltd\MyStuff\SIL Sales\Mikko\BNPL Report Redesign\Data\Promoter_master_April2024.csv")
df.shape

(1460, 29)

In [3]:
df.head()

,Month,Promoter Name,Promoter Employee Number,Promoter Type,Promoter Status,Access Code,Store Assignment,Purple Key,Merchant,Key Account Manager,...,Territory Assignment,Territory Sales Manager,TSM Employee Number,TSM Status,TSM Date of Joining,TSM Deployment Date,TSM End of Employment,Region Assignment,Regional Sales Manager,Sex
0,01-04-2024,Claudine Marize Nagal Gorospe,PHI- 0095,Stationary,Suspended,PLN183,FC Home Center Tungko,MTKHC5V,FC Home,Mark De Leon,...,North Luzon 1,Mari Louise Carasig,PHI- 0355,Active,2023-11-06,2023-11-06,NaN,North,Charm Moltio,Female
1,01-04-2024,Maricel Bechaida Andrade,PHI- 0060,Stationary,Maternity Leave,PLN110,Home Along Sapang Palay,M7QN8JA,Home Along,Mark De Leon,...,North Luzon 1,Mari Louise Carasig,PHI- 0355,Active,2023-11-06,2023-11-06,NaN,North,Charm Moltio,Female
2,01-04-2024,Abby Jeleen N/A Cas,PHI- 0338,Stationary,Inactive,PLN608,Home Along Sta Rosa,MLOR8WT,Home Along,Mark De Leon,...,South Luzon 1 (A),Kenneth Mendoza,PHI- 0361,Active,2023-12-04,2023-12-04,NaN,South,Christian Klide Alberto,Female
3,01-04-2024,Abigail Cortes Mejos,PHI- 0046,Stationary,Inactive,PLN191,Jhunpyo Cogeo Antipolo,MIDEXGA,Jhunpyo,Chuck Blanco,...,NCR East,Charm Moltio,PHI- 0317,Active,2022-08-01,2022-08-01,2024-01-31,North,Charm Moltio,Female
4,01-04-2024,Abigail Cortes Mejos,PHI- 0046,Stationary,Inactive,PLN081,Home Along Binangonan 2,MSWNC9L,Home Along,Mark De Leon,...,NCR East,Charm Moltio,PHI- 0317,Active,2022-08-01,2022-08-01,2024-01-31,North,Charm Moltio,Female

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 29 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Month                                1460 non-null   object
 1   Promoter Name                        1460 non-null   object
 2   Promoter Employee Number             1460 non-null   object
 3   Promoter Type                        1460 non-null   object
 4   Promoter Status                      1460 non-null   object
 5   Access Code                          1459 non-null   object
 6   Store Assignment                     1459 non-null   object
 7   Purple Key                           1459 non-null   object
 8   Merchant                             1450 non-null   object
 9   Key Account Manager                  1450 non-null   object
 10  POS Opening Date                     1450 non-null   object
 11  Store Status                         1450 non-null   object
 12  POS Closing Date                     4 non-null      object
 13  Access Code Status                   1459 non-null   object
 14  Store Access Code Activation Date    1453 non-null   object
 15  Store Access Code Deactivation Date  407 non-null    object
 16  Promote Date of Joining              1458 non-null   object
 17  Promoter Deployment Date             1446 non-null   object
 18  End of Employment                    276 non-null    object
 19  Territory Assignment                 1460 non-null   object
 20  Territory Sales Manager              1460 non-null   object
 21  TSM Employee Number                  1460 non-null   object
 22  TSM Status                           1460 non-null   object
 23  TSM Date of Joining                  1460 non-null   object
 24  TSM Deployment Date                  1460 non-null   object
 25  TSM End of Employment                99 non-null     object
 26  Region Assignment                    1460 non-null   object
 27  Regional Sales Manager               1460 non-null   object
 28  Sex                                  1454 non-null   object
dtypes: object(29)
memory usage: 330.9+ KB

In [5]:
import pandas as pd

# Assuming df is your DataFrame and 'Month' is the column with month values
df['Month'] = pd.to_datetime(df['Month'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

# Print the DataFrame to check the result
df.sample(10)

,Month,Promoter Name,Promoter Employee Number,Promoter Type,Promoter Status,Access Code,Store Assignment,Purple Key,Merchant,Key Account Manager,...,Territory Assignment,Territory Sales Manager,TSM Employee Number,TSM Status,TSM Date of Joining,TSM Deployment Date,TSM End of Employment,Region Assignment,Regional Sales Manager,Sex
881,2024-04-01,Jonelyn hapa De Guia,PHI- 0630,Stationary,Active,PLN46293,Jhunpyo Cogeo Antipolo,MIDEXGA,Jhunpyo,Chuck Blanco,...,NCR East,Albee David,PHI- 0041,Active,2024-02-15,2024-02-15,NaN,North,Charm Moltio,Female
21,2024-04-01,Angelo Balbedina Maravilla,PHI- 0350,Roving,Inactive,PLN738,Home Along San Rafael,M192GU5,Home Along,Mark De Leon,...,North Luzon 1,Mari Louise Carasig,PHI- 0355,Active,2023-11-06,2023-11-06,NaN,North,Charm Moltio,Male
1269,2024-04-01,Regie Bolima Leynes,PHI- 0421,Borrowed,Active,PLN70974,ESLA Lipa 2,M3T7VNO,ESLA,Chuck Blanco,...,South Luzon 3,Jan Jan Dela Cruz,PHI- 0051,Active,2023-08-16,2023-08-16,NaN,South,Christian Klide Alberto,Male
1204,2024-04-01,Poala Jane Avellano Vasallo,PHI- 0556,Stationary,Active,PLN79195,Rulls Waltermart Cabuyao,MX61Y2P,Rulls,Chuck Blanco,...,South Luzon 2,Kenneth Mendoza,PHI- 0361,Active,2023-12-04,2023-12-04,NaN,South,Christian Klide Alberto,Female
443,2024-04-01,Cernell Perez Quevedo,PHI- 0508,Borrowed,Active,PLN52678,MBC Pacificmall Lucena,M6R9FL3,Rulls,Chuck Blanco,...,South Luzon 3,Jan Jan Dela Cruz,PHI- 0051,Active,2023-08-16,2023-08-16,NaN,South,Christian Klide Alberto,Male
1118,2024-04-01,Mhel Jean Pavo Deonon,PHI- 0049,Roving,Active,PLN095,FC Home Center Muzon,MWBPDEA,FC Home,Mark De Leon,...,North Luzon 1,Mari Louise Carasig,PHI- 0355,Active,2023-11-06,2023-11-06,NaN,North,Charm Moltio,Female
308,2024-04-01,Aljun Cainta Delos Angeles,PHI- 0509,Stationary,Active,PMM73907,Home Along Mayon,MGP2AQI,Home Along,Mark De Leon,...,NCR North,Sander Maghirang,PHI- 0444,Active,2024-02-19,2024-02-19,NaN,North,Charm Moltio,Male
317,2024-04-01,Ana Gemma Valderamos Mendoza,PHI- 0564,Stationary,Active,PLN97356,Home Along Tayabas,M1FS7IC,Home Along,Mark De Leon,...,South Luzon 3,Jan Jan Dela Cruz,PHI- 0051,Active,2023-08-16,2023-08-16,NaN,South,Christian Klide Alberto,Female
84,2024-04-01,Igie Ancero Dalumpines,PHI- 0313,Stationary,Inactive,PMM690,Home Along Waterfun Taguig,MJX19GT,Home Along,Mark De Leon,...,NCR South,Klein Justine Tamayo,PHI- 0153,Active,2023-09-01,2023-09-01,NaN,South,Christian Klide Alberto,Female
994,2024-04-01,Lorenzo Roncal Ronquillo,PHI- 0547,Stationary,Active,PLN20052,FC Home Center Lubao 1,MCE1Z6X,FC Home,Mark De Leon,...,North Luzon 2,Rachelle Belmonte,PHI- 0348,Active,2023-10-16,2023-10-16,NaN,North,Charm Moltio,Male

In [6]:
# Set table_id to the ID of the table to append to.
table_id = "prj-prod-dataplatform.dap_ds_poweruser_playground.Promoter_Masters"

job_config = bigquery.LoadJobConfig(
    write_disposition="WRITE_TRUNCATE"
)

job = client.load_table_from_dataframe(
    df, table_id, job_config=job_config
)  

job.result()  # Wait for the job to complete.

table = client.get_table(table_id)  # Make an API request.
print(
    "Loaded {} rows and {} columns to {}".format(
        table.num_rows, len(table.schema), table_id
    )
)

Loaded 1460 rows and 29 columns to prj-prod-dataplatform.dap_ds_poweruser_playground.Promoter_Masters

In [7]:
sq = """select * from prj-prod-dataplatform.dap_ds_poweruser_playground.Promoter_Masters"""
dfd = client.query(sq).to_dataframe()
dfd.head()

,Month,Promoter Name,Promoter Employee Number,Promoter Type,Promoter Status,Access Code,Store Assignment,Purple Key,Merchant,Key Account Manager,...,Territory Assignment,Territory Sales Manager,TSM Employee Number,TSM Status,TSM Date of Joining,TSM Deployment Date,TSM End of Employment,Region Assignment,Regional Sales Manager,Sex
0,2024-04-01,None,None,None,None,None,None,None,ESLA,None,...,None,None,None,None,None,None,None,None,None,None
1,2024-04-01,None,None,None,None,None,None,None,Rulls,None,...,None,None,None,None,None,None,None,None,None,None
2,2024-04-01,None,None,None,None,None,None,None,Rulls,None,...,None,None,None,None,None,None,None,None,None,None
3,2024-04-01,None,None,None,None,None,None,None,Rulls,None,...,None,None,None,None,None,None,None,None,None,None
4,2024-04-01,None,None,None,None,None,None,None,Rulls,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
dfd.shape